<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <main class="main-content">
    <aside class="sidebar">
      <div class="input-section">
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" placeholder="Type here">
      </div>
      <div id="first-item-square">
        <div> &nbsp; </div>
        <div id="first-item">
          
        </div>
      </div>
    </aside>
    <div class="item-section-content">
      <section>
        <div class="item-label">
          <label for="item-list">Item List</label>
        </div>
      </section>
  
      <section class="item-section">
        <div id="item-list" class="item-list">

        </div>
      </section>
      <div id="last-item-square">
        <div> &nbsp; </div>
        <div id="last-item">
          
        </div>
      </div>
    </div>
  </main>

  <script src="js/scripts.js"></script>
</body>
</html>
